:root {
  /* colour variables */
  --zack: #70c0bf;
  --slater: #d0654a;
  --kelly: #e17daa;
  --screech: #4d59a1;
  --lisa: #fbe46a;
  --jessie: white;
  /* spacing variables: golden ratio */
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-sm: 0.78rem; /* added manually */
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;
  /* Fonts  */
  --courier: "Courier Prime", monospace;
  --reenie: "Reenie Beanie", cursive;
  --mont: "Montserrat", sans-serif;
}

/* global styling */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  background: url("/images/sbtb-bground.png") no-repeat fixed;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--jessie);
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: var(--mont);
  padding-bottom: var(--space-xl);
}

main {
  display: flex;
  justify-content: center;
  padding-bottom: var(--space-xl);
}

h1 {
  margin-top: var(--space-xl);
  font-family: var(--reenie);
  font-size: var(--space-xxl);
  padding: var(--space-l);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px var(--zack);
}

h2,
.cohort_member > p {
  font-family: var(--reenie);
  font-size: var(--space-l);
  color: var(--screech);
  text-align: center;
}

#nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  background-color: var(--kelly);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: var(--space-s);
  margin: 0 auto;
  font-family: var(--mont);
  font-weight: bold;
}

#nav a {
  text-decoration: none;
  padding: var(--space-l), 0;
  color: var(--jessie);
}

@media (max-width: 400px) {
  #nav {
    font-size: var(--space-sm);
  }
  footer {
    font-size: var(--space-sm);
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--kelly);
  padding: var(--space-s);
  font-family: var(--mont);
}

.group-pic {
  display: none;
}

/* cohort page */

#cohort-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90vw;
}

#cohort-gallery li {
  padding: var(--space-l);
  list-style-type: none;
  font-family: var(--reenie);
  justify-content: center;
}

ul {
  padding-inline-start: 0px;
}

#cohort-member-wrapper {
  background: url(/images/paper.png);
  background-size: cover;
  background-blend-mode: luminosity;
  padding-inline-start: 0px;
  justify-content: center;
  width: 90vw;
  max-width: 400px;
  display: flex;
  margin-bottom: var(--space-l);
  padding: 25px;
}

#cohort-member-wrapper > li > a {
  border: 4px 4px var(--kelly);
}

/* flip card */

.cohort-image {
  width: 225px;
  height: 300px;
  object-fit: cover;
}

.flip-card {
  background-color: transparent;
  width: 225px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* not sure why but theres a problem if this isnt set (loading issue?) */
  /* background-color: var(--screech); */
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

/* user profile */

#user-flip-card {
  margin: auto;
}

.profile_image_prof {
  width: 225px;
  height: 300px;
  object-fit: cover;
  margin: auto;
  align-self: center;
}

.profile_image_party {
  width: 225px;
  height: 300px;
  display: none;
  object-fit: cover;
  margin: auto;
  align-self: center;
}

#quote {
  /* font-family: var(--reenie); */
  font-size: 40px;
}

.user_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90vw;
  font-family: var(--mont);
  color: var(--screech);
}

.answer {
  color: var(--zack);
}

.cohort-member-user > p {
  font-size: var(--space-m);
  color: var(--screech);
  text-align: center;
}

.cohort-member-wrapper-profile {
  background: url(/images/paper.png);
  background-size: cover;
  background-blend-mode: luminosity;
  /* padding-inline-start: 0px; */
  justify-content: center;
  max-width: 90vw;
  margin: auto;
  /* max-width: 400px; */
  display: flex;
  /* margin-bottom: var(--space-l); */
  /* padding: 25px; */
}
.answer_list {
  padding: 3em;
}

/* Add Yourself styling */

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: var(--space-l);
  padding: var(--space-l);
  background-color: #4d5aa1f5;
  border-radius: 11px;
}

label {
  display: block;
  font-family: var(--mont);
  font-size: var(--space-m);
  /* line-height: var(--space-l); */
  /* text-shadow: 2px 2px var(--zack); */
}

input {
  background-color: var(--lisa);
  border-radius: 8px;
  border-style: none;
  margin-top: var(--space-s);
  padding-inline-start: var(--space-m);
  font-family: var(--mont);
}

button {
  background-color: var(--zack);
  font-family: var(--reenie);
  font-size: var(--space-xl);
  font-weight: bolder;
  color: var(--jessie);
  text-shadow: var(--jessie);
  border-radius: 8px;
  border-style: none;
  box-shadow: 4px 4px var(--jessie);
  margin: var(--space-s);
}

button:hover {
  text-shadow: var(--jessie);
  background-color: var(--kelly);
}

.flexrow {
  padding: var(--space-s);
}

/* Error page styling */
.error__desc {
  color: var(--slater);
  font-family: var(--courier);
  text-align: center;
  padding: 1rem;
}

.error__image {
  width: 60vw;
  margin: auto;
}

/* media queries */
@media (min-width: 1139px) {
  #cohort-member-wrapper {
    max-width: 400px;
    width: 25vw;
  }

  form {
    width: 50vw;
    justify-content: center;
    margin: auto;
  }

  .group-pic {
    display: block;
    padding: var(--space-xxl);
    margin: auto;
  }
}
