<h1>GO FAC YOURSELF!</h1>
<form action="/submitnewprofile" method="POST">
    <div class="flexrow">
        <label for="name">Name</label>
        <input type="text" name="name" required>
    </div>
    <p>Instructions for uploading images</p>
    <div class="flexrow">
        <label for="image_prof">Professional image URL</label>
        <input type="text" name="image_prof" required>
    </div>
    <div class="flexrow">
        <label for="image_party">Party image URL</label>
        <input type="text" name="image_party" required>
    </div>
    <div class="flexrow">
        <label for="quote">What's a classic thing that you might say?</label>
        <input type="text" name="quote" required>
    </div>
    <div class="flexrow">
        <label for="emoji">What was the last emoji you used?</label>
        <input type="text" name="emoji">
    </div>
    <div class="flexrow">
        <label for="tea_coffee">Tea/Coffee?</label>
        <input type="text" name="tea_coffee">
    </div>
    <div class="flexrow">
        <label for="hogwarts">Which Hogwarts House would the Sorting Hat choose for you?</label>
        <input type="text" name="hogwarts">
    </div>
    <div class="flexrow">
        <label for="cuisine">If you could only eat one thing for the rest of your life, what would you choose?</label>
        <input type="text" name="cuisine">
    </div>
    <div class="flexrow">
        <label for="fruit">Which you fruit do you always take from the fruitbowl?</label>
        <input type="text" name="fruit">
    </div>
    <div class="flexrow">
        <label for="snack">Signature project snack?</label>
        <input type="text" name="snack">
    </div>
    <div class="flexrow">
        <label for="show">All-time favourite TV show?</label>
        <input type="text" name="show">
    </div>
    <div class="flexrow">
        <label for="js">Which JavaScript function do you want to tell all your friends about?</label>
        <input type="text" name="js">
    </div>
    <div class="flexrow">
        <label for="pokemon">Look deeply and honestly into the mirror. Which is your spirit pokemon?</label>
        <input type="text" name="pokemon">
    </div>
    <div class="flexrow">
        <label for="emojigram">Compose an emojigram with a message of your choice</label>
        <input type="text" name="emojigram">
    </div>
    <button type="submit">Submit</button>

</form>