<section class="error">
  <h1 class="error__desc">{{ statusCode }} <span class="error__msg">{{errorMessage}} {{err}}</span></h1>
  <img class="error__image" src="/images/{{ statusCode }}.jpg" alt="error">
</section>