<ul id="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/cohort">Facsters</a></li>
    <li><a href="/addyourself">Add Profile</a></li>
    <li><a href="https://fac18.github.io/fac18-projects-gallery/" target="_blank">Project Gallery</a></li>
</ul>